@import '../../../constants.scss';

.worked-with-container {
  .content-section {
    max-width: $max-width;
    margin: auto;
    background-color: var(--body-background);
    padding: 5%;
    border-radius: 5px;

    .heading {
      text-align: center;
      font-size: 36px;
      color: var(--app-text);
      margin: 0;
    }

    .flex-section {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      margin-top: 40px;

      .skill-card {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 16px;
        padding: 20px;
        background-color: #ddd;
        border-radius: 5px;

        .image-section {
          img {
            max-width: 100%;
            max-height: 120px;
            object-fit: cover;
          }
        }

        &:hover {
          border-radius: 5px;
          transform: scale(1.1);
        }

        span {
          color: var(--app-text);
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .worked-with-container {
    .content-section {
      padding: 20px;
      padding-top: 40px;

      .heading {
        font-size: 28px;
      }
  
      .flex-section {
        margin-top: 20px;
  
        .skill-card {
          width: 50%;
        }
      }
    }
  }
}