@import '../../constants.scss';

.resume--container {
  background-color: var(--alternate-section-bg);
  min-height: 100vh;
  max-width: 1028px;
  margin: auto;
  margin-top: 100px;
  padding: 2rem;

  .resume-header-section {
    .flex-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      .left-side-section {
        width: calc(100% - 200px);

        .name-heading {
          color: var(--app-text);
          font-size: 2.5rem;
          font-weight: 600;
        }

        .tagline-heading {
          margin-top: 0.25rem;
          color: $theme-color;
          font-size: 1.25rem;
          font-weight: 500;
        }

        .contact-info-flex-container {
          margin-top: 1rem;
          align-items: center;
          display: flex;
          gap: 1rem;
          width: 100%;

          .info-item {
            width: 100%;

            a {
              align-items: center;
              display: flex;
              gap: 0.5rem;
              width: 100%;
              text-decoration: none;
              color: var(--sub-heading-text) !important;
              font-size: 1rem;
              font-weight: 500;

              i {
                min-width: 1rem;
                font-size: 1.25rem;
                color: $theme-color;
              }

            }
          }
        }
      }

      .right-side-section {
        .profile-image-section {
          border: 5px solid $theme-color;
          border-radius: 75px;
          height: 155px;
          width: 155px;

          img {
            border-radius: 50%;
            height: 146px;
            width: 146px;
            filter: grayscale(1);
          }

        }
      }
    }
  }

  .summary-info-container {
    margin-top: 1.5rem;

    .heading {
      font-weight: 800;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: $theme-color;
      border-bottom: 2px solid $theme-color;
      padding-bottom: 0.5rem;
    }

    .summary-desc {
      margin-top: 1rem;
      line-height: 1.75;
      font-size: 18px;
      color: var(--desc-text);
      font-weight: 400;
      font-family: "Mulish", sans-serif;
    }
  }
}