@import '../../constants.scss';

.app-landing-section {
  color: var(--app-text);
  display: flex;
  flex-direction: column;

  .sub-heading {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color: $theme-color;
  }

  .heading {
    margin: 15px 0;
    font-size: 64px;
    font-weight: 800;
  }

  .desc {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
}

.about-me-section {
  background-color: var(--alternate-section-bg);
  max-width: $max-width;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .left-side {
    margin-right: 1%;
    max-width: 40%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    img {
      width: 100%;
      position: relative;
      z-index: 1000;
      border-radius: 5px;
      filter: grayscale(1);
      object-fit: cover;
    }
  }

  .right-side {
    width: 60%;
    padding: 3rem;
    border-radius: 5px;

    .heading {
      font-size: 42px;
      font-weight: 600;
      text-shadow: 0 0 15px var(--app-text-shadow);
      line-height: 1.5;
      color: var(--app-text);
      margin: 0;
    }

    .role-heading {
      font-size: 24px;
      font-weight: 600;
      text-shadow: 0 0 15px var(--app-text-shadow);
      line-height: 1.5;
      color: var(--app-sub-text);
      margin: 0;
    }

    .desc {
      line-height: 1.8;
      font-size: 17px;
      color: var(--desc-text);
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
    }

    .buttons-container {
      display: flex;

      .button-section {
        &:first-child {
          margin-right: 2rem;
        }
      }
    }
  }
}

.projectss-banner {
  max-width: $max-width;
  margin: auto;
  padding: 3% 5%;
  background-color: var(--alternate-section-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  .heading {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 15px var(--app-text-shadow);
    line-height: 1.5;
    color: var(--app-text);
    margin: 0;
  }

  .desc {
    line-height: 1.8;
    font-size: 17px;
    color: var(--desc-text);
    font-weight: 400;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
}

.services-section {
  max-width: $max-width;
  margin: 0 auto;
  padding: 5%;
  .heading {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    color: var(--app-text);
  }

  .desc {
    color: var(--app-text);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
  
  .services-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    .service--card {
      width: 100%;
      margin: 0 15px;
      background-color: var(--alternate-section-bg);
      padding: 20px 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.1s 0.1s ease-in-out;

      img {
        max-width: 100px;
        width: 100%;
        object-fit: cover;
        background: var(--image-background);
        border-radius: 20px;
        padding: 10px;
        object-fit: cover;
      }

      .sc-heading {
        color: var(--app-text);
        font-size: 16px;
        font-weight: 500;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        transform: scale(1.1);
        img {
          background: $theme-color;
        }
      }
    }
  }
}
.sk--contact-section {
  background-color: var(--body-background);
  max-width: $max-width;
  margin: 20px auto;
  padding: 5%;
  border-radius: 5px;
  .main--heading {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    color: var(--app-text);
  }

  .sk--contact-flex-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .sk--lside {
      flex: 0 0 40%;

      .desc {
        color: var(--app-text);
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
      }

      .email-section {
        margin-top: 40px;
        margin-bottom: 40px;

        p {
          color: var(--desc-text);
          margin: 0 0 5px;
          font-weight: 500;
        }

        a {
          color: $active-theme-color;
          text-decoration: none;
          font-weight: 600;
        }
      }

      .follow-section {
        margin-top: 40px;

        p {
          color: var(--desc-text);
          margin: 0 0 5px;
          font-weight: 500;
        }
      }
    }

    .sk--rside {
      flex: 0 0 40%;

      .thank-you-message {
        background: #009688;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 15px;

        h4 {
          margin: 0;
          font-weight: 600;
          line-height: 1.5;
        }
      }

      .error-message-section {
        background: #ef9a9a;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 15px;

        h4 {
          margin: 0;
          font-weight: 600;
          line-height: 1.5;
        }
      }
      .form-section {
        margin-bottom: 20px;

        input,
        textarea {
          width: 100%;
          background-color: var(--alternate-section-bg);
          height: 50px;
          border-radius: 5px;
          border: none;
          box-shadow: 1px 2px 2px var(--app-text-shadow);
          outline: none;
          font-size: 16px;
          color: var(--desc-text);
          padding: 15px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
        }

        input.invalid-input,
        textarea.invalid-input {
          border: 2px solid #ef9a9a;
        }

        textarea {
          height: unset;
          resize: none;
        }
      }

      .button-section {
        text-align: right;
        position: relative;
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .home-page {
    padding-left: 0rem;
  }

  .app-landing-section {
    margin-top: 1rem;
    .sub-heading {
      font-size: 14px;
    }
  
    .heading {
      font-size: 36px;
    }
  
    .desc {
      font-size: 16px;
    }

    .buttons-container {
      display: block;
      max-width: 210px;
      margin: auto;

      .button-section {
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }

  .about-me-section {
    padding: 1rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    border-radius: 0;
    .left-side {
      flex: 0 0 1;
      margin-right: 0;
      max-width: unset;
      position: relative;
      margin-bottom: 0px;
      border-radius: 0;

      img {
        border-radius: 0;
      }
    }
  
    .right-side {
      width: 100%;
      padding: 0;
      border-radius: 0; 
      .heading {
        font-size: 24px;
      }
  
      .desc {
        font-size: 15px;
      }

      .role-heading {
        font-size: 16px;
      }

      .buttons-container {
        display: block;
        max-width: 210px;
        margin: auto;

        .button-section {
          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .projectss-banner {
    display: block;
    border-radius: 0;
    padding: 2rem 1rem;
  
    .heading {
      font-size: 28px;
    }
  
    .desc {
      font-size: 16px;
    }

    .button-section {
      width: 208px;
    }
  }

  .services-section {
    padding: 20px;
    .heading {
      font-size: 28px;
    }
  
    .desc {
      font-size: 16px;
    }
    
    .services-flex {
      margin-top: 30px;
      flex-wrap: wrap;
      .service--card {
        flex: 0 0 100%;
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
  .sk--contact-section {
    padding: 20px;
    padding-top: 40px;
    .main--heading {
      font-size: 28px;
    }
  
    .sk--contact-flex-section {
      flex-wrap: wrap;
      .sk--lside {
        flex: 0 0 100%;
  
        .desc {
          font-size: 16px;
        }
  
        .follow-section {
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }
  
      .sk--rside {
        flex: 0 0 100%;
      }
    }
  }
}