@import "../../constants.scss";

.taginput-demo-page {
  max-width: $max-width;
  margin: auto;
  padding-top: 150px;

  .heading {
    color: var(--app-text);
    font-size: 24px;
    text-align: center;
  }

  .flex-section {
    display: flex;
    background: var(--alternate-section-bg);
    border-radius: 5px;

    .left-side {
      flex: 0 0 300px;
      padding: 40px;

      p {
        color: var(--app-text);
        font-size: 24px;
        font-weight: 600;
      }

      .form-section {
        margin-bottom: 20px;

        label {
          color: var(--app-text);
          display: flex;
          align-items: center;
          font-weight: 600;
          margin-bottom: 10px;
        }

        input[type="number"],
        input[type="text"] {
          width: 100%;
          height: 45px;
          border-radius: 5px;
          border: 1px solid var(--alternate-section-bg);
          padding-left: 10px;
          font-size: 16px;
          font-weight: 500;
          font-family: 'Plus Jakarta Sans', sans-serif;
        }

        input[type="checkbox"] {
          width: 20px;
          height: 20px;
          margin-right: 15px;
        }

        .tags-input__contianer {
          border: none;

          input {
            border: none;
            width: auto;
          }

          .tag__box {
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 600;
            background-color: $theme-color;
            border-color: $theme-color;
            margin-bottom: 5px;
          }

          .tag__box.warning__box {
            background-color: #e91e63;
            border-color: #e91e63;
          }
        }
      }
    }

    .right-side {
      width: calc(100% - 400px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;

      .content {
        width: 100%;

        .tags-input__contianer {
          border: none;
          max-width: 500px;
          margin: auto;

          input {
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 500;
          }

          .tag__box {
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 600;
            background-color: $theme-color;
            border-color: $theme-color;
            margin-bottom: 5px;
          }

          .tag__box.warning__box {
            background-color: #e91e63;
            border-color: #e91e63;
          }
        }

        span.input-separator {
          color: var(--app-text);
        }

        .code-section {
          width: 100%;
          background-color: var(--body-background);
          padding: 40px;
          margin-top: 40px;
          position: relative;

          .copied-message {
            position: absolute;
            top: 60px;
            right: 15px;
            color: var(--alternate-section-bg);
            background-color: var(--app-text);
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 600;
          }

          .copy-button {
            position: absolute;
            top: 15px;
            right: 15px;
            color: var(--alternate-section-bg);
            background-color: var(--app-text);
            border: none;
            padding: 8px 15px;
            font-size: 20px;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
          }

          code {
            color: var(--app-text);
            font-size: 16px;

            p {
              margin: 10px 0;
            }

            .keyword {
              color: #ff9800;
            }

            .string {
              color: #8bc34a;
            }

            .tab {
              padding-left: 20px;
            }

            .varaible {
              color: #50c5ff;
            }
          }
        }
      }

    }
  }
}

@media screen and (max-width: 767px) {
  .taginput-demo-page {
    .flex-section {
      flex-wrap: wrap;

      .left-side {
        flex: 0 0 100%;
      }

      .right-side {
        flex: 0 0 100%;
      }
    }
  }
}