@import '../../../constants.scss';

.tech-stack-container {
  .content-section {
    max-width: $max-width;
    margin: auto;
    background-color: var(--body-background);
    border-radius: 5px;
    padding: 7rem 0;

    .heading {
      text-align: center;
      font-size: 36px;
      color: var(--app-text);
      margin: 0;
    }

    .flex-section {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      margin-top: 40px;

      .skill-card {
        min-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0;
        padding: 20px;

        .image-section {
          margin-bottom: 10px;
          img {
            max-width: 100%;
            max-height: 80px;
            object-fit: contain;
            aspect-ratio: 3/2;
            mix-blend-mode: darken;
          }
        }

        &:hover {
          background-color: var(--alternate-section-bg);
          border-radius: 5px;
          transform: scale(1.01);
        }

        span {
          color: var(--app-text);
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .tech-stack-container {
    .content-section {
      padding: 20px;
      padding-top: 40px;

      .heading {
        font-size: 28px;
      }
  
      .flex-section {
        margin-top: 20px;
  
        .skill-card {
          width: 40%;
          min-width: 150px;
        }
      }
    }
  }
}

:root[data-theme='dark'] {
  .tech-stack-container {
    .content-section {
      .flex-section {
        .skill-card {
          .image-section {
            img {
              mix-blend-mode: plus-lighter;
              filter: invert(0.15);
            }
          }
        }
      }
    }
  }
}