@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

@import './constants.scss';

html {
  --black: #262d50;
  --alternate-section-bg: #1a1315;
  --app-text: #c7d8eb;
  --app-button-text: #c7d8eb;
  --secondary-button-bg: #1a1315;
  --app-sub-text: #C7D8F1;
  --desc-text: #C7D8F1;
  --theme-color: red;
  --body-background: #0f0a0b;
  --app-text-shadow: #593840;
  --image-background: transparent;
}

html[data-theme='light'] {
  --black: #262d50;
  --alternate-section-bg: #eee;
  --app-text: #2B2B2B;
  --app-button-text: #f1f1f1;
  --app-sub-text: #616262; 
  --secondary-button-bg: #1a1315;
  --theme-color: red;
  --body-background: #fbfbfb;
  --desc-text: #2B2B2B;
  --app-text-shadow: #fff;
  --image-background: #333;
}

body {
  margin: 0;
  background-color: var(--body-background);
  font-family: 'Montserrat', sans-serif;
  * {
    box-sizing: border-box;
    outline: none;
  }

  .date-picker-container {
    .floating-datepicker {
      z-index: 1010;
    }
  }

  .button-section {
    margin-top: 30px;
    position: relative;
    margin: 30px 0;
  
    button {
      background-color: $theme-color;
      height: 45px;
      border: none;
      width: 200px;
      font-size: 16px;
      cursor: pointer;
      outline: none;
      color: var(--app-button-text);
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      transition: width 0.2s 0.2s ease-in-out;
      position: relative;
      z-index: 1005;
      margin-right: 8px;
  
      a {
        color: var(--app-button-text);
        text-decoration: none;
      }
  
      &:hover {
        width: 250px;
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  
    button.secondary {
      background-color: var(--secondary-button-bg);

      a {
        color: var(--app-button-text);
      }
    }
  
    button:hover + .span-after {
      width: 250px;
    }
    
    .span-after {
      width: 200px;
      height: 45px;
      background-color: var(--desc-text);
      display: block;
      position: absolute;
      right: 0px;
      top: 8px;
      z-index: 10;
      transition: width 0.2s 0.2s ease-in-out;
    }
  }
}